body {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(https://wallpapers.com/images/hd/charles-leclerc-point-up-side-car-tzgwqf1g7eo68dpt.jpg);
    background-size: cover;
}


.video{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.logo{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fundo{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.filmes{
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}
